/**********************************For karawan*******************************/
html {
  height: 100%;
}
#karawan-1 {
  position: absolute;
  top: 0vh;
  height: 100vh;
  opacity: 100%;
  background-image: url(../assets/images/nature.png);
}
#karawan-2 {
  position: absolute;
  top: 100vh;
  height: 100vh;
  opacity: 100%;
  background-image: url(../assets/images/karawan_page_2_bg.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
  background-size: 45.01vw auto;
  /* background-size: auto 55.2vh; */
  /* background-size: 45.01vw 55.2vh; */
}
#karawan-3 {
  position: absolute;
  top: 200vh;
  height: 100vh;
  background-image: url(../assets/images/karawan_page_3_bg.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 100% 30vh;
}
#karawan-4 {
  position: absolute;
  top: 300vh;
  height: auto;
  background-color: #39df08;
  background-image: url(../assets/images/karawan_page_4_shape2.png);
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 100% 29.74vh;
  justify-content: center;
}
@media screen and (max-width: 490px) {
  /**************For Karawan Page 4****************/

  #karawan-4 {
    background-image: url(../assets/images/karawan_page_4_mobile_bg.png);
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 100% 33.05vh;
  }
}
@media screen and (max-width: 680px) {
  .semi_rect_circle_transparent {
    /* margin-left: -5% !important; */
    max-width: 100vw;
    margin-left: -11.71vw !important;
    width: auto !important;
    height: 54.44vh !important;
    margin-top: 18.05vh !important;
  }
  .semi_rect_circle_opaque {
    /* margin-left: -8% !important; */
    max-width: 100vw;
    margin-left: -15.71vw !important;
    width: auto !important;
    height: 54.44vh !important;
    margin-top: 18.05vh !important;
  }
  .semi_rect_circle_opaque_2 {
    /* margin-left: -10% !important; */
    max-width: 100vw;
    margin-left: -15.71vw !important;
    width: auto !important;
    height: 54.44vh !important;
    margin-top: 18.05vh !important;
  }
}
@media screen and (max-width: 991px) {
  #karawan-1 {
    height: 200vh;
  }
  #karawan-2 {
    top: 200vh;
    height: 200vh;
    background-size: 100vw 45.3vh;
    background-image: url(../assets/images/karawan_page_2_mobile_bg.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
  }
  #karawan-3 {
    top: 400vh;
    height: 200vh;
  }
  #karawan-4 {
    top: 600vh;
    height: auto;
    padding-bottom: 35vh;
  }

  #whatsapp-logo {
    right: 7vw !important;
    bottom: 4vh !important;
    z-index: 111;
  }
  .main-logo {
    /* padding-top: 0vh; */
    margin-top: 8.425vh;
  }
  .nav-right-text {
    font-size: 1.5em !important;
  }
  .text-bottom-left,
  .text-bottom-left-k-p-2,
  .text-bottom-left-k-p-3 {
    /*text-bottom-left-k-p-3 element is removed in mobile screen*/
    position: unset !important;
    bottom: 10vh !important;
    /* font-size: 3em !important; */
    font-size: 6vw !important;
    width: 98% !important;
    margin-top: 6.75vh;
    /* margin-bottom: 0rem !important; overwriting bootstrap mb,pb classes */
    /* padding-bottom: 0rem !important; overwriting bootstrap mb,pb classes */
  }

  .text-bottom-right {
    font-size: 0.9em !important;
    width: 100% !important;
    bottom: 2vh !important;
    /* padding-left: 6vw !important; */
    padding-left: 2vw !important;
    margin-bottom: -1em !important;
    padding-bottom: 0.4em !important;
    left: 0 !important;
    display: flex;
    background-image: url("../assets/images/navbar-cover.png") !important;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-items: flex-end;
    height: 10vh !important;
    padding: 0;
  }
  .fixed-bottom #whatsapp-logo {
    background-image: url("../assets/images/bottom-backdrop.svg");
  }
  .text-body {
    /* padding-top: 0.7em !important; */
    font-size: 0.5em !important;
  }
  .text-body {
    /* padding-top: 0.7em !important; */
    font-size: 0.5em !important;
  }
  .content-right-page-2 {
    width: 80vw !important;
    /* font-size: 2.5vw !important; */
  }
  .content-right-page-2-bottom {
    margin: auto !important;
  }
  /* .karawan-page-2-section-left { */
  /* height: max-content !important; */
  /* } */
  .text-head-page-4 {
    font-size: 3em !important;
  }
  .bottom-karawan-logo {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 1%;
    padding-bottom: 3em !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 0 !important;
  }
  .karawan-page-1-main-content-circle {
    margin-top: 0vh !important;
  }

  /**************For Karawan Page 3****************/
  .main-content-page-3 {
    background-image: url(../assets/images/karawan_life_in_pot_bg.png);
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: right;
    background-size: 100% 45.28vh;
  }
  .content-right-page-3-bottom {
    margin: auto !important;
  }

  .karawan-page-3-section-left {
    height: max-content !important;
  }
  .karawan-page-3-section-right {
    height: 50% !important;
  }
  #content-right-page-3-bottom-row {
    align-self: flex-end !important;
  }
}
@media screen and (max-width: 480px) {
  #content-right-page-3-bottom-row {
    background-color: #39df08;
  }
}
/* For tablet and small screen devices */
@media screen and (min-width: 425px) and (max-width: 991px) {
  .content-right-page-2-bottom .text-head-2 {
    padding-top: 1.5rem !important;
    font-size: 4.5vw !important ;
  }
  .content-right-page-2-bottom .text-white.direction-box-text {
    font-size: 2.5vw !important ;
  }
  .content-right-page-3-bottom {
    margin-top: 13.5vh !important;
  }
  .content-right-page-3-bottom .text-head-2 {
    /* padding-top: 1.5rem !important; */
    margin-top: 0.5rem !important;
    font-size: 4.5vw !important ;
  }
  .text-body-page-4 {
    font-size: 1.5rem !important ;
  }
}
@media screen and (min-width: 725px) and (max-width: 991px) {
  .text-bottom-left {
    font-size: 6vw !important;
  }
}
@media screen and (min-width: 991px) and (max-width: 1230px) {
  .main-logo {
    max-width: 100% !important;
  }
  .img-life-in-a-pot {
    max-width: -webkit-fill-available !important;
  }
  .karawan-page-4-shape-1 {
    margin-bottom: 13%;
    margin-left: unset !important;
  }
}

.specialcase:hover {
  background-color: black !important;
}

/* underline-small */
.navbar .nav-link .h5::after {
  content: "";
  display: block;
  height: 4px;
  width: 20%;
  margin-left: 1.5%;
  margin-top: 4.5px;
  background-color: #161616;
  transition: all ease-in-out 250ms;
}
.navbar {
  background-color: rgb(255 255 255 / 65%);
  transition-delay: 0.1s;
}
.nav-right-text {
  text-align: end;
  /* position: fixed; */
  right: 2vw;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
}
.karawan-nav-text {
  color: #161616;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
/* For Page 1 Background rectangles */
.semi_rect_circle_transparent {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  max-height: 100vh;
  width: 55%;
  margin-left: 4%;
}
.semi_rect_circle_opaque {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  max-height: 100vh;
  width: 55%;
  margin-left: 3%;
}
.semi_rect_circle_opaque_2 {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  max-height: 100vh;
  width: 55%;
}
.main-logo {
  margin-left: 3%;
  /* width: 64vw; */
  max-height: 64vh;
  max-width: 80vw;
}
.main-container {
  /* border: 2px solid black; */
  height: -webkit-fill-available;
}
.main-content {
  height: calc(100% - 18.5vh);
  /* border: 2px solid rgb(0, 132, 255); */
  margin-top: 18.5vh;
}
.main-container .rounded-circle {
  background-color: #2c7606;
  height: 45vh;
  width: 45vh;
}
.down-arrow-svg {
  margin-top: 0.8em !important;
}
.display-text .text-head-1 {
  font-size: 5.5vh;
  line-height: 1;
}
.text-head-2 {
  color: yellow;
  font-size: 5.5vh;
  line-height: 0.8;
}
.text-body {
  color: white !important;
  font-size: 2.5vh;
}
.display-text {
  flex: unset;
  /* border: 1px solid black; */
}
.text-bottom-left {
  position: absolute;
  width: max-content;
  bottom: -38vh;
  left: 1.5vw;
  font-size: 25px;
}
.text-bottom-left-k-p-2 {
  position: absolute;
  width: max-content;
  bottom: 3.425vh;
  left: 1.5vw;
  font-size: 25px;
}
.text-bottom-left-k-p-3 {
  position: absolute;
  /* width: 98% !important; */
  width: max-content;
  bottom: 0vh;
  left: 1.5vw;
  font-size: 25px;
}
.text-bottom-right {
  position: absolute;
  bottom: 0.9vh;
  right: 0.8vw;
  font-size: 20px;
  /* letter-spacing: 0.083vw; */
  letter-spacing: 0.07vw;
  background-image: none;
}
#whatsapp-logo {
  position: absolute;
  height: 9.9vh;
  width: 9.9vh;
  padding: 1.4vh;
  background-color: white;
  border: 0.5vh solid #39df08;
  border-radius: 50%;
  bottom: 5.5vh;
  right: 2.2vw;
}

.down-arrow-svg {
  /* width: 9.06vw; */
  height: 4.8vh;
}
.karawan-page-1-main-content-circle {
  margin-top: 50vh;
}

/**************For Karawan Page 2****************/
/* .karawan-page-2-section-left { */
/* overflow: visible; */
/* } */
.logo-karawan-2 {
  /* margin-left: 4.5vw; */
  margin-top: 4vh;
  /* width: 24.7vw; */
  width: auto;
  height: 55vh;
}
.main-content-page-2 {
  /* border: 2px solid black; */
  /* height: calc(100% - 18.5vh); */
  height: 100%;
  padding-top: 18.5vh;
}
.main-container-page-2 {
  border: 2px solid rgba(0, 0, 0, 0);
  height: 100%;
}
.content-right-page-2,
.content-right-page-2 p {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif !important;
  letter-spacing: -0.06em;
  margin: auto;
  width: 45vw;
}
.content-right-page-2-bottom {
  text-align: center;
  width: fit-content;
  margin-top: 27.5vh;
  margin-left: 37.39vw;
  /* margin bottom and right not working on it */
}

.direction-box-text {
  font-size: 3vh;
}

/**************For Karawan Page 3****************/

.img-life-in-a-pot {
  margin: 0;
  max-width: 80vw;
  max-height: 61vh;
  border: 5px solid #39df08;
  border-radius: 50%;
}
.main-content-page-3 {
  height: 100%;
  padding-top: 18.5vh;
}
.content-right-page-3-bottom {
  text-align: center;
  margin-top: 27.5vh;
  margin-left: 37.39vw;
  /* margin-top: 18vh; */
  width: fit-content;
}

.karawan-page-3-section-left {
  height: 100%;
  overflow: visible;
}
.karawan-page-3-section-right {
  height: max-content;
}
.karawan-page-3-subheading::after {
  content: "";
  display: block;
  height: 4px;
  width: 20%;
  margin-left: 40%;
  margin-top: 5px;
  background-color: #16161624;
  transition: all ease-in-out 250ms;
}
/**************For Karawan Page 4****************/
.main-container-page-4 {
  /* z-index: 1; */
  border: 0.8px solid rgba(165, 42, 42, 0);
  max-height: -webkit-fill-available;
}
.main-content-page-4 {
  margin-top: 18.5vh;
}
.main-content-page-4-left {
  margin-left: 10.15vw;
  margin-right: 8.54vw;
}
.karawan-page-4-shape-1 {
  height: 47.5vh;
  margin-left: 3.34vw;
}

.text-head-page-4 {
  font-size: 12vh;
  color: #2c7606;
}

.text-body-page-4 {
  text-align: left;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.06em;
  margin-top: 2.6vh;
  /* letter-spacing: -0.12vw; */
}

.karawan-page-4-shape-2 {
  max-height: fit-content;
  margin-bottom: 10em;
}

.bottom-karawan-logo {
  margin-top: 6.5vh;
  margin-left: 11.67vw;
  max-width: 90vw;
  height: 27.67vh;
}

.developed-by {
  color: rgb(131, 131, 131);
  font-weight: 500;
  font-size: 17px;
}
