@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: Niconne;
  src: url(../assets/fonts/Niconne-Regular.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: Montserrat;
}

p {
  font-family: Roboto !important;
}

/** Navbar **/
.navbar {
  border: rgba(255, 255, 255, 0.57) 5px solid;
  border-radius: 0 0 20px 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.75);
}

.navbar .nav-link {
  border: 10em;
  border-color: black;
}

.navbar .nav-link h5 {
  color: #000000;
  margin-bottom: 0;
}

.navbar .nav-link h5::after {
  content: "";
  display: block;
  height: 3px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: #161616;
  transition: all ease-in-out 250ms;
}

.navbar .nav-link:hover h5::after {
  width: 30%;
}

.navbar .nav-link.active h5 {
  color: #ffffff;
}

.navbar .nav-link.active h5::after {
  background-color: #ffffff;
}

.navbar .nav-link.border {
  background-color: #666666;
  color: #ffffff;
}

.navbar .nav-link.border h5 {
  color: #ffffff;
}

.navbar .nav-link.border h5::after {
  width: 0%;
}

.navbar .dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

#navbar.scrolled {
  background-color: #fff !important;
  border-color: #fff !important;
}

.nav-pills .nav-logo.nav-link.active {
  background-color: rgba(255, 255, 255, 0);
}

.coconut.dropdown-item.active {
  background-image: linear-gradient(#afd8ac, #77a074);
}

.flaxseed.dropdown-item.active {
  background-image: linear-gradient(#beb4c5, #5a5067);
}

.sesame.dropdown-item.active {
  background-image: linear-gradient(#acc5d8, #6f7d88);
}

.almond.dropdown-item.active {
  background-image: linear-gradient(#d8acac, #997777);
}

.groundnut.dropdown-item.active {
  background-image: linear-gradient(#e6a57e, #a5775c);
}

.mustard.dropdown-item.active {
  background-image: linear-gradient(#e8d595, #a69869);
}

/** Home Page **/
#mainHeader {
  min-height: 100vh;
  margin: 0;
  background-color: white;
  background-image: url(../assets/images/backDrop1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

#mainHeader #centerImg-pc {
  align-self: center;
  position: absolute;
  right: 0;
  left: 0;
  max-height: 91vh;
}

#mainHeader #brand-logo {
  width: 30vw;
}

#subtitle {
  background-color: #006b12;
  color: white;
  font-family: Roboto;
  line-height: 1.4;
  border-radius: 5px;
}

.subtitle-wrap::after {
  content: "";
  display: block;
  width: 100px;
  height: 7px;
  margin-top: 5px;
  background-color: #006b12;
}

#mainHeader p {
  color: #000;
  font-size: medium;
}

.contact-btn-wrap {
  text-align: right !important;
  vertical-align: bottom !important;
}

button.contact {
  width: 400px;
  font-family: Montserrat;
  font-size: medium;
  background-color: #b41414;
  transform: rotate(-90deg);
  transform-origin: 100% 0%;
  -webkit-transform: rotate(90deg);
}

p.h5 {
  font-family: Roboto;
  font-size: medium;
  font-weight: 400;
}

p.market-credit {
  font-family: Roboto;
  font-size: 30px !important;
  color: #000000 !important;
  font-weight: 400;
}

p.lead {
  font-size: small;
  font-weight: 500;
  color: #000000 !important;
}

/** Oils Sections **/
.oil-name {
  font-family: Niconne;
  font-size: 500%;
}

/** Coconut **/
#coconut {
  min-height: 100vh;
  background-image: url(../assets/images/coconut-cover.png);
  background-repeat: no-repeat;
  background-color: #afd8ac;
  background-position: left bottom;
}

.nav-pills .coconut.nav-link.active {
  background-image: linear-gradient(#afd8ac, #77a074);
}

#coconut .rounded-circle {
  width: 150px !important;
  background-color: #77a074;
  height: 6.8em;
}

/** Flaxseed **/
#flaxseed {
  min-height: 100vh;
  background-image: url(../assets/images/flaxseed-cover.png);
  background-repeat: no-repeat;
  background-color: #beb4c5;
  background-position: left bottom;
}

.nav-pills .flaxseed.nav-link.active {
  background-image: linear-gradient(#beb4c5, #5a5067);
}

#flaxseed .rounded-circle {
  background-color: #5a5067;
  width: 150px !important;
  height: 6.8em;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

/** Sesame **/
#sesame {
  min-height: 100vh;
  background-image: url(../assets/images/sesame-cover.png);
  background-repeat: no-repeat;
  background-color: #acc5d8;
  background-position: left bottom;
}

.nav-pills .sesame.nav-link.active {
  background-image: linear-gradient(#acc5d8, #6f7d88);
}

#sesame .rounded-circle {
  background-color: #6f7d88;
  width: 150px !important;
  height: 6.8em;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

/** Almond **/
#almond {
  min-height: 100vh;
  background-image: url(../assets/images/almond-cover.png);
  background-repeat: no-repeat;
  background-color: #d8acac;
  background-position: left bottom;
}

.nav-pills .almond.nav-link.active {
  background-image: linear-gradient(#d8acac, #997777);
}

#almond .rounded-circle {
  background-color: #997777;
  width: 150px !important;
  height: 6.8em;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

/** GroundNut **/
#groundnut {
  min-height: 100vh;
  background-image: url(../assets/images/groundnut-cover.png);
  background-repeat: no-repeat;
  background-color: #e6a57e;
  background-position: left bottom;
}

.nav-pills .groundnut.nav-link.active {
  background-image: linear-gradient(#e6a57e, #a5775c);
}

#groundnut .rounded-circle {
  background-color: #a5775c;
  width: 150px !important;
  height: 6.8em;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

/** Mustard **/
#mustard {
  min-height: 100vh;
  background-image: url(../assets/images/mustard-cover.png);
  background-repeat: no-repeat;
  background-color: #e8d595;
  background-position: left bottom;
}

.nav-pills .mustard.nav-link.active {
  background-image: linear-gradient(#e8d595, #a69869);
}

#mustard .rounded-circle {
  background-color: #a69869;
  width: 150px !important;
  height: 6.8em;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

/** FAQ **/
#faq {
  min-height: 100vh;
  width: 100%;
}

.contactUsFormClass {
  border: 1px solid #b41414;
  border-radius: 8px;
  font-family: Montserrat;
  width: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  overflow-x: auto;
  transition: 0.5s;
}

.mainFormClass {
  background-color: rgb(253 254 255 / 85%);
  border-radius: 0px 0px 8px 8px;
}

.formHeading {
  font-size: 25px;
  background-color: #b41414;
  border-radius: 8px 8px 0px 0px;
  font-family: Montserrat;
}

.align-right-bottom {
  position: fixed;
  bottom: 20%;
  right: 0%;
}

.align-right-bottom-1 {
  display: inline-block;
  position: absolute;
  bottom: 10%;
  right: 5%;
}

.align-right-bottom-2 {
  display: inline-block;
  position: absolute;
  bottom: 1%;
  right: 5%;
}

#contactus-iconId {
  transition: 0.5s;
}

.contactus-iconClass {
  height: 60px;
  width: 60px;
  transition: 0.5s;
}

/*Alert Box*/
#alert-area {
  margin-top: 15vh;
  border-radius: 8px;
  font-family: Montserrat;
  width: 0%;
  position: fixed;
}

#errorAlert, #successAlert {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 25vw;
  position: relative;
  /* cursor: pointer; */
  transition: 0.5s;
}

#errorAlert.alert.alert-danger.d-flex {
  display: -ms-flexbox !important;
  text-align: center;
  display: flex !important;
}

.svg-trash {
  cursor: pointer;
}

/** Faq Section **/
#accordion {
  border-radius: 15px 15px 15px 15px;
  background-color: rgba(0, 0, 0, 0.082);
  width: 95%;
}

.card {
  border-radius: 15px 15px 15px 15px;
}

.card-header:first-child {
  border-radius: 15px 15px 15px 15px;
}

.card-header {
  border-bottom: 0px;
  border-radius: 15px 15px 15px 15px;
}

.card-body {
  border-radius: 0px 15px 15px 0px;
}

.logo_small {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.faq_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-img-with-text {
  background-image: url(../assets/images/footer_img.png);
  background-size: 100%;
}

.card.mb-1 {
  margin-bottom: 0.3rem !important;
}

/** FAQ card body **/
.blockquote {
  border: 1px solid rgba(222, 226, 230, 0.54);
  border-left: 0.5rem solid rgba(0, 123, 255, 0.54);
  margin: 1.875rem auto;
  max-width: 90%;
  position: relative;
  width: 100%;
}

/** Footer Section **/
.footer {
  position: relative;
}

.footer-text-left {
  text-align: left;
}

.footer-text-right {
  text-align: right;
}

.footer_img {
  width: 100%;
}

/*Shrinking for mobile*/
@media screen and (max-width: 991px) {
  /** Main Section **/
  #mainHeader {
    align-items: center !important;
    background-color: #ffffff !important;
    background-image: none !important;
  }

  #centerImg {
    display: block;
    position: static;
    top: 0;
    max-height: 50vh;
  }

  #brand-logo {
    width: 50vw !important;
    margin-top: 100px;
  }
  
  #contactus-iconId {
    margin-bottom: 10%;
  }
  
  #subtitle {
    font-size: medium;
  }
  
  p.lead {
    font-size: medium !important;
  }
  
  p.lead::before {
    content: "";
    display: block;
    width: 100px;
    height: 7px;
    margin-top: 20px;
    margin-bottom: 7px;
    background-color: #006b12;
  }
  
  p.lead::after {
    content: "";
    display: block;
    width: 100px;
    height: 7px;
    margin-top: 7px;
    background-color: #006b12;
  }
  
  .subtitle-wrap::after {
    display: none !important;
  }
  
  button.contact {
    width: auto !important;
  }

  /** Oils Section **/
  #coconut,
  #flaxseed,
  #sesame,
  #almond,
  #groundnut,
  #mustard {
    padding-bottom: 400px;
  }

  #coconut h1,
  #flaxseed h1,
  #sesame h1,
  #almond h1,
  #groundnut h1,
  #mustard h1 {
    margin: 0px 40px;
    font-size: 70px !important;
  }
  
  #coconut p,
  #flaxseed p,
  #sesame p,
  #almond p,
  #groundnut p,
  #mustard p {
    font-size: medium !important;
  }

  /** FAQ Section **/
  #accordion {
    margin: 5%;
  }
  
  .faq_img {
    display: block;
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .logo_small {
    display: block;
    height: 55%;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .natures_karawan_logo_div {
    text-align: center;
  }
  
  .natures_karawan_logo {
    margin-top: 80px;
    height: 23vw;
    width: 40vw;
  }
  
  .footer_img {
    height: 120px;
  }

  .footer-text-left-div {
    text-align: center;
    border-bottom: 1px solid white;
  }
  
  .footer-text-right-div {
    text-align: center;
  }
}

@media screen and (min-width: 770px) and (max-width: 991px) {
  .footer-text-left {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .footer-text-right {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  #brand-logo {
    width: 40vw !important;
  }
  
  #subtitle {
    font-size: 30px !important;
  }
  
  .subtitle-wrap {
    margin: 25px !important;
  }
  
  p.lead {
    font-size: 16px !important;
  }

  #coconut,
  #flaxseed,
  #sesame,
  #almond,
  #groundnut,
  #mustard {
    padding-bottom: 400px;
  }
  
  #coconut h1,
  #flaxseed h1,
  #sesame h1,
  #almond h1,
  #groundnut h1,
  #mustard h1 {
    font-size: 70px !important;
  }
  
  #coconut p,
  #flaxseed p,
  #sesame p,
  #almond p,
  #groundnut p,
  #mustard p {
    font-size: smaller !important;
  }
  
  #faq {
    top: 700vh !important;
  }
  
  #errorAlert, #successAlert {
    display: none;
    width: 90% !important;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
  }
}
